body{
    background:#000;
    overflow-x:hidden;
}
.header-shape{
    clip-path:polygon(
        0 0,
        100% 0,
        92% 100%,
        0 100%
    );
    
}

.nav-link{
    position:relative;
}

.nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#d4a017;
    transition:.3s;
}

.nav-link:hover::after{
    width:100%;
}

.search-wrapper{
    width:50px;
    background-color: none;
    transition:all .5s ease;
}

.search-wrapper.active{
    width:320px;
}

.search-input{
    width:0;
    opacity:0;
    transition:.5s;
}

.search-wrapper.active .search-input{
    width:100%;
    opacity:1;
}
